<div style="display: flex; justify-content: center; margin-top: 80px;">
    <mat-card style="width: 400px; padding: 20px;">
        <mat-card-header>
            <mat-card-title>🚗 Clando - Connexion</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" style="width: 100%; margin-top: 20px;">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="exemple@gmail.com">
                    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                        Email obligatoire
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                        Email invalide
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput formControlName="motDePasse" type="password">
                    <mat-error *ngIf="loginForm.get('motDePasse')?.hasError('required')">
                        Mot de passe obligatoire
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit"
                        [disabled]="loginForm.invalid || loading"
                        style="width: 100%; margin-top: 10px;">
                    {{ loading ? 'Connexion...' : 'Se connecter' }}
                </button>
            </form>
        </mat-card-content>

        <mat-card-actions>
            <p style="text-align: center;">
                Pas encore de compte ?
                <a routerLink="/register">S'inscrire</a>
            </p>
        </mat-card-actions>
    </mat-card>
</div>
