<div class="page-auth">
    <mat-card class="auth-card">

        <div class="auth-header">
            <h1>Wayvo</h1>
            <p>Connectez-vous à votre compte</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email" placeholder="exemple@gmail.com">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email obligatoire</mat-error>
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Email invalide</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput formControlName="motDePasse" type="password">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error *ngIf="loginForm.get('motDePasse')?.hasError('required')">Mot de passe obligatoire</mat-error>
            </mat-form-field>

            <button mat-raised-button type="submit"
                    [disabled]="loginForm.invalid || loading"
                    class="btn-submit">
                {{ loading ? 'Connexion...' : 'Se connecter' }}
            </button>
        </form>

        <div class="auth-footer">
            <p>Pas encore de compte ? <a routerLink="/register">S'inscrire</a></p>
        </div>

    </mat-card>
</div>