@use '@angular/material' as mat;

html {
    height: 100%;
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        )
    );
}

body {
    color-scheme: light dark;
    background-color: #0a0a0a;
    color: #eeeeee;
    font: var(--mat-sys-body-medium);
    margin: 0;
    height: 100%;
}